.weatherchannel {
  padding-top: 15px;
}
h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.search {
  position: fixed;
  top: 120px;
  left: 120px;
  /*display: flex; */
}

#location {
  top: 175px;
  position: fixed;
  left: 210px;
}
#current-location {
  border-radius: 4px;
  color: rgb(0 132 255);
  font-weight: bold;
  border-color: whitesmoke;
  background-color: aliceblue;
}
.city {
  margin: 0 auto;
  display: block;
  /* float: left; */
  font-weight: bold;
  position: relative;
  padding-top: 90px;
  text-align: center;
  padding-right: 100px;
}
.cityorzip {
  font-family: "Lato", sans-serif;
}
.forecast-element {
  padding-top: 55px;
  text-align: center;
  display: flex;
  font-size: 10px;
}

.forecast-element .card {
  height: 100px;
  background-color: transparent;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  color: #1a1423;
  font-weight: bold;
}
.forecast-element .card-text {
  color: rgb(0 132 255);
  font-size: 27px;
  font-family: "Slabo 27px", serif;
}

.information {
  width: 20rem;

  top: 5px;
  -webkit-box-shadow: 5px 5px 5px 0px #d32121, inset 4px 4px 15px 0px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 5px 0px #ee0f0f, inset 4px 4px 15px 0px hsl(183, 56%, 34%),
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  font-family: "Montserrat Alternates", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Slabo 27px", serif;

  color: rgb(0 132 255);
  font-size: 18px;
}
.forecast .card-body {
  border-radius: 15px;
  width: 150px;
  border: 4px solid #ff9f1c;
}
.countries {
  padding-top: 55px;
  display: flex;
}
.globe {
  height: 120px;
  width: 250px;
  border-radius: 10px;
}

.unit {
  border-color: transparent;
}

footer {
  margin: 0 auto;
  display: block;
  text-align: center;
  padding-top: 85px;
}
